:root {
  --color-font-major: #303030;
  --color-font-minor: #555555;
  --color-font-background-major: #9da4bd;
  --color-font-background-minor: #ffffff;
  --color-accent: #ff6c00;
  --background-major: #ffffff;
  --background-minor: #f7f7f7;
  --font-ral: "Raleway", sans-serif;
  --duration: 250ms;
  --cubic: cubic-bezier(0.17, 0.67, 0.83, 0.67);
  --bg-prices-grad: linear-gradient(
    rgba(17, 19, 25, 0.2),
    rgba(17, 19, 25, 0.2)
  );
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
  /* outline: 1px solid tomato; */
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: var(--background-major);
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

#list-id {
  list-style: decimal;
}

a {
  text-decoration: none;
}

.uptitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
}

.uptitle::before {
  content: "";
  width: 60px;
  height: 1px;
  background-color: currentColor;
}

.subtitle {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

.section-title {
  font-family: "Raleway", sans-serif;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;
}

.btn {
  min-width: 160px;
  height: 40px;
  cursor: pointer;
  border: 1px solid var(--color-accent);
  border-radius: 25px;
  background-color: inherit;
}

.btn a {
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: inherit;
}

.header__container {
  position: absolute;
  left: 50%;
  top: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: transparent;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  z-index: 2;
}
@media screen and (min-width: 768px) {
  .header__container {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: 0;
  }
}
@media screen and (min-width: 1200px) {
  .header__container {
    top: 32px;
  }
}

.logo {
  color: var(--color-font-major);
  -webkit-transition: color var(--duration) var(--cubic);
  transition: color var(--duration) var(--cubic);
}

.logo:hover,
.logo:focus {
  color: var(--color-accent);
}

.logo {
  margin-right: 131px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .logo {
    margin-right: 60px;
  }
}

.logo__icon {
  fill: currentColor;
}
@media screen and (max-width: 767px) {
  .logo__icon {
    fill: var(--color-font-background-minor);
  }
}

.navigation {
  margin-right: auto;
}
@media screen and (max-width: 767px) {
  .navigation {
    display: none;
  }
}
.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.navigation__link {
  padding: 10px;
  text-decoration: none;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--color-font-background-minor);
  -webkit-transition: color var(--duration) var(--cubic);
  transition: color var(--duration) var(--cubic);
}
.navigation__link:hover, .navigation__link:focus {
  color: var(--color-accent);
}

.contacts-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: inherit;
}
@media screen and (max-width: 767px) {
  .contacts-nav {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    gap: 10px;
    margin-top: 45px;
  }
}
.contacts-nav__link {
  padding: 10px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.3333;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--color-font-background-minor);
  -webkit-transition: color var(--duration) var(--cubic);
  transition: color var(--duration) var(--cubic);
}
.contacts-nav__link:hover, .contacts-nav__link:focus {
  color: var(--color-accent);
}
.contacts-nav__btn {
  margin-left: 40px;
  color: var(--color-font-background-minor);
  -webkit-transition: background-color var(--duration) var(--cubic);
  transition: background-color var(--duration) var(--cubic);
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts-nav__btn {
    margin-left: 0;
  }
}
.contacts-nav__btn:hover, .contacts-nav__btn:focus {
  background-color: var(--color-accent);
}

.open-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
@media screen and (min-width: 767px) {
  .open-btn {
    display: none;
  }
}

.open-icon {
  fill: var(--color-font-background-minor);
  -webkit-transition: fill 250ms linear;
  transition: fill 250ms linear;
}

.open-btn:hover .open-icon {
  fill: var(--color-accent);
}

.mobile-menu {
  position: fixed;
  overflow: scroll;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 70vw;
  height: 100vh;
  top: 0;
  right: 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 40px;
  z-index: 3;
  outline: dashed 1px red;
  background-color: var(--color-font-background-minor);
  -webkit-box-shadow: -4px 0px 8px rgba(0, 0, 0, 0.04), -2px 0px 4px rgba(0, 0, 0, 0.08), -1px 0px 3px rgba(0, 0, 0, 0.16);
          box-shadow: -4px 0px 8px rgba(0, 0, 0, 0.04), -2px 0px 4px rgba(0, 0, 0, 0.08), -1px 0px 3px rgba(0, 0, 0, 0.16);
  -webkit-transition: -webkit-transform 250ms linear;
  transition: -webkit-transform 250ms linear;
  transition: transform 250ms linear;
  transition: transform 250ms linear, -webkit-transform 250ms linear;
}
@media screen and (min-width: 767px) {
  .mobile-menu {
    display: none;
  }
}
.mobile-menu.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.mobile-menu__btn-close {
  position: absolute;
  top: 48px;
  right: 48px;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.mobile-menu__btn-close:hover .mobile-menu__icon {
  fill: var(--color-accent);
}
.mobile-menu__icon {
  -webkit-transition: fill 250ms linear;
  transition: fill 250ms linear;
}
.mobile-menu__link {
  display: block;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  line-height: culc(25/18);
  letter-spacing: 0.1em;
  margin-bottom: 24px;
  color: var(--color-font-major);
  -webkit-transition: color 250ms linear;
  transition: color 250ms linear;
}
.mobile-menu__link:hover {
  color: var(--color-accent);
}
.mobile-menu__btn {
  width: 194px;
  min-height: 40px;
  font-weight: 600;
  font-size: 12px;
  line-height: culc(16/12);
  letter-spacing: 0.09em;
  text-transform: uppercase;
  -webkit-transition: background-color 250ms linear;
  transition: background-color 250ms linear;
}
.mobile-menu__btn:hover {
  background-color: var(--color-accent);
}
.mobile-menu__soc-list {
  position: relative;
  padding-left: 100px;
}
.mobile-menu__soc-list::before {
  position: absolute;
  top: 25px;
  left: 0;
  content: "";
  width: 60px;
  height: 1px;
  background-color: var(--color-font-major);
}
.mobile-menu__soc-link {
  display: block;
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  line-height: culc(19/14);
  letter-spacing: 0.2em;
  margin-bottom: 24px;
  color: var(--color-font-major);
  -webkit-transition: color 250ms linear;
  transition: color 250ms linear;
}
.mobile-menu__soc-link:hover {
  color: var(--color-accent);
}
.mobile-menu__soc-link:first-child {
  margin-top: 20px;
}
.hero__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 0;
}
@media screen and (max-width: 767px) {
  .hero__container {
    padding-left: 0;
  }
}

.hero-network {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100px;
}
@media screen and (max-width: 767px) {
  .hero-network {
    display: none;
  }
}
.hero-network__befor-link::before {
  display: block;
  content: " ";
  width: 60px;
  height: 1px;
  background-color: var(--color-font-major);
}
.hero-network__contain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
  gap: 40px;
  position: absolute;
  bottom: 0;
  left: 20px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transform-origin: left;
          transform-origin: left;
}
.hero-network__link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  text-decoration: none;
  color: var(--color-font-major);
  -webkit-transition: color var(--duration) var(--cubic);
  transition: color var(--duration) var(--cubic);
}
.hero-network__link:hover, .hero-network__link:focus {
  color: var(--color-accent);
}

.hero-container {
  position: relative;
  padding-top: 208px;
  padding-bottom: 208px;
  padding-left: 31px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
@media screen and (max-width: 767px) {
  .hero-container {
    background-image: url("../images/bg-hero-mob@1.jpg");
  }
}
@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .hero-container {
    background-image: url("../images/bg-hero-mob@2.jpg");
  }
}
@media screen and (min-width: 768px) {
  .hero-container {
    padding-top: 272px;
    padding-bottom: 237px;
    padding-left: 120px;
    background-image: url("../images/bg-hero-tab@1.jpg");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero-container {
    background-image: url("../images/bg-hero-tab@2.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero-container {
    padding-top: 272px;
    padding-bottom: 208px;
    padding-left: 100px;
    background-image: url("../images/bg-hero-desk@1.jpg");
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero-container {
    background-image: url("../images/bg-hero-desk@2.jpg");
  }
}

.hero-uptitle {
  margin-bottom: 20px;
  color: rgba(157, 164, 189, 0.6);
}

.hero-title {
  margin-bottom: 20px;
  font-family: var(--font-ral);
  font-size: 48px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: var(--color-font-background-minor);
}
@media screen and (min-width: 1200px) {
  .hero-title {
    font-size: 72px;
    line-height: 1.18;
  }
}

.hero-subtitle {
  max-width: 358px;
  color: var(--color-font-background-major);
  font-size: 16px;
  line-height: 1.63;
}
@media screen and (min-width: 768px) {
  .hero-subtitle {
    font-size: 18px;
    line-height: 1.67;
  }
}

.forward-back {
  position: absolute;
  right: 80px;
  bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
@media screen and (max-width: 767px) {
  .forward-back {
    display: none;
  }
}
.forward-back__link {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60px;
  height: 24px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  color: rgba(157, 164, 189, 0.6);
  text-decoration: none;
}
.forward-back__link::after {
  position: absolute;
  right: 0;
  bottom: 0;
  content: " ";
  width: 60px;
  height: 1px;
  background-color: rgba(157, 164, 189, 0.6);
}
.forward-back__text--text-right {
  margin-left: auto;
  color: #fff;
}
.forward-back__item.forward-back__item--white-line .forward-back__link::after {
  background-color: #fff;
}

.about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  padding-top: 84px;
  padding-bottom: 84px;
}
@media screen and (min-width: 768px) {
  .about__container {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 1200px) {
  .about__container {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.beards-photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
@media screen and (max-width: 768px) {
  .beards-photo {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .beards-photo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .beards-photo_item {
    width: 330px;
    height: 235px;
  }
}
@media screen and (min-width: 1200px) {
  .beards-photo {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .beards-photo__item {
    width: 270px;
    height: 445px;
  }
}

.beards-photo img {
  height: auto;
}

.about-wrap {
  max-width: 100%;
}
@media screen and (min-width: 768px) {
  .about-wrap {
    max-width: 330px;
  }
}
@media screen and (min-width: 1200px) {
  .about-wrap {
    max-width: 470px;
  }
}

.about-uptitle {
  margin-bottom: 20px;
  color: var(--color-font-major);
}

.about-title {
  margin-bottom: 20px;
  width: 306px;
  font-size: 28px;
  line-height: 1.18;
  color: var(--color-font-major);
}
@media screen and (min-width: 1200px) {
  .about-title {
    font-size: 42px;
    line-height: 1.16;
    width: 470px;
  }
}

.about-subtitle {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.62;
  color: var(--color-font-minor);
}
@media screen and (min-width: 768px) {
  .about-subtitle {
    font-size: 18px;
    line-height: 1.67;
  }
}

.about-text {
  margin-bottom: 42px;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: var(--color-font-minor);
}

.about-btn {
  color: var(--color-font-major);
  -webkit-transition: background-color var(--duration) var(--cubic);
  transition: background-color var(--duration) var(--cubic);
}

.about-btn:hover,
.about-btn:focus {
  background-color: var(--color-accent);
}

.prices {
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #111319;
}
@media screen and (max-width: 767px) {
  .prices {
    background-image: url("../images/bg-prices-mob@1.png");
  }
}
@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .prices {
    background-image: url("../images/bg-prices-mob@2.png");
  }
}
@media screen and (min-width: 768px) {
  .prices {
    max-width: 768px;
    background-image: url("../images/bg-prices-tab@1.png");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .prices {
    background-image: url("../images/bg-prices-tab@2.png");
  }
}
@media screen and (min-width: 1200px) {
  .prices {
    max-width: 1200px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(17, 19, 25, 0.2)), to(rgba(17, 19, 25, 0.2))), url("../images/bg-prices-desk@1.jpg");
    background-image: linear-gradient(rgba(17, 19, 25, 0.2), rgba(17, 19, 25, 0.2)), url("../images/bg-prices-desk@1.jpg");
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .prices {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(17, 19, 25, 0.2)), to(rgba(17, 19, 25, 0.2))), url("../images/bg-prices-desk@2.jpg");
    background-image: linear-gradient(rgba(17, 19, 25, 0.2), rgba(17, 19, 25, 0.2)), url("../images/bg-prices-desk@2.jpg");
  }
}

.prices__container {
  padding-top: 84px;
  padding-bottom: 84px;
}
@media screen and (min-width: 768px) {
  .prices__container {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 1200px) {
  .prices__container {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.prices-uptitle {
  margin-bottom: 20px;
  color: rgba(157, 164, 189, 0.6);
}

.prices-title {
  margin-bottom: 44px;
  color: var(--color-font-background-minor);
}
@media screen and (max-width: 767px) {
  .prices-title {
    font-size: 40px;
    line-height: 1.76;
  }
}

@media screen and (max-width: 1199px) {
  .prices-wrap {
    padding: 30px;
    background: -webkit-gradient(linear, left top, left bottom, from(#171a24), to(rgba(23, 26, 36, 0.2)));
    background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
    margin-bottom: 44px;
  }
}
@media screen and (min-width: 1200px) {
  .prices-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 44px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.prices-list {
  border: 1px solid transparent;
  border-bottom: none;
  padding-left: 0;
}
@media screen and (min-width: 1200px) {
  .prices-list {
    padding: 30px 20px;
    width: calc((100% - 30px) / 2);
  }
  .prices-list:first-child {
    background: -webkit-gradient(linear, left top, left bottom, from(#171a24), to(rgba(23, 26, 36, 0.2)));
    background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
  }
  .prices-list:last-child {
    background: -webkit-gradient(linear, left top, left bottom, from(#090b13), to(rgba(9, 11, 19, 0.2)));
    background: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
  }
}
.prices-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  gap: 12px;
  margin-bottom: 20px;
}
.prices-list__item::before {
  content: "";
  height: 1px;
  background-color: rgba(157, 164, 189, 0.12);
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
@media screen and (min-width: 1200px) {
  .prices-list__item:last-child {
    margin-bottom: 0;
  }
}
.prices-list__text {
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0.02em;
  color: var(--color-font-background-major);
}
@media screen and (min-width: 768px) {
  .prices-list__text {
    font-size: 18px;
    line-height: 1.67;
  }
}
.prices-list__text:first-child {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}
.prices-list__btn {
  display: block;
  margin: auto;
  color: var(--color-font-background-minor);
  -webkit-transition: background-color var(--duration) var(--cubic);
  transition: background-color var(--duration) var(--cubic);
}
.prices-list__btn:hover, .prices-list__btn:focus {
  background-color: var(--color-accent);
}

.benefits__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  padding-top: 84px;
  padding-bottom: 84px;
}
@media screen and (min-width: 768px) {
  .benefits__container {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 1200px) {
  .benefits__container {
    padding-top: 120px;
    padding-bottom: 120px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.benefits-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  margin-top: 44px;
}
@media screen and (min-width: 768px) {
  .benefits-list {
    max-width: 450px;
    margin-left: auto;
  }
}
@media screen and (min-width: 1200px) {
  .benefits-list {
    max-width: 370px;
    margin-left: 100px;
    margin-top: 0;
  }
}
.benefits-list__item:nth-child(2n) {
  margin-top: 30px;
}
.benefits-list__item:nth-child(2n+1) {
  margin-right: 30px;
}
@media screen and (max-width: 479px) {
  .benefits-list__item:nth-child(2) {
    margin-bottom: 30px;
  }
}
.benefits-list__item {
  padding: 20px 46px;
  width: 195px;
  height: 133px;
  background-color: var(--background-minor);
}
@media screen and (min-width: 768px) {
  .benefits-list__item {
    width: 210px;
  }
}
@media screen and (min-width: 1200px) {
  .benefits-list__item {
    width: 170px;
    padding: 20px 24px;
  }
}
.benefits-list__count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 6px;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.3571428571;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.05em;
  color: var(--color-font-major);
}
.benefits-list__plus {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.375;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--color-accent);
}
.benefits-list__text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636;
  text-align: center;
  color: var(--color-font-major);
}

.benefits-wrap {
  max-width: 500px;
}
@media screen and (min-width: 1200px) {
  .benefits-wrap {
    margin-right: 55px;
  }
}

.benefit-uptitle {
  margin-bottom: 20px;
  color: var(--color-font-major);
}

.benefits-title {
  max-width: 450px;
  margin-bottom: 20px;
  color: var(--color-font-major);
}

.benefits-subtitle {
  color: var(--color-font-minor);
}

.barbers {
  background-color: var(--background-minor);
}

.barbers__container {
  padding-top: 84px;
  padding-bottom: 84px;
}
@media screen and (min-width: 768px) {
  .barbers__container {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 1200px) {
  .barbers__container {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.barbers-uptitle {
  margin-bottom: 20px;
  color: var(--color-font-major);
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .barbers-uptitle {
    margin-left: 120px;
  }
}

.barbers-title {
  margin-bottom: 44px;
  color: var(--color-font-major);
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .barbers-title {
    margin-left: 120px;
  }
}

.barbers-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 64px;
}
@media screen and (min-width: 1200px) {
  .barbers-list {
    gap: 30px;
  }
}
.barbers-list__item {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .barbers-list__item {
    width: 450px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1200px) {
  .barbers-list__item {
    width: calc((100% - 60px) / 3);
  }
}
.barbers-list__title {
  margin-bottom: 8px;
  margin-top: 30px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3888888889;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--color-font-major);
}
.barbers-list__text {
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.3571428571;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--color-accent);
}

.soc-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.soc-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--background-major);
}
.soc-list__icon {
  fill: var(--color-font-major);
  -webkit-transition: fill var(--duration) var(--cubic);
  transition: fill var(--duration) var(--cubic);
}
.soc-list__link:hover .soc-list__icon, .soc-list__link:focus .soc-list__icon {
  fill: var(--color-accent);
}

.portfolio__container {
  padding-top: 84px;
  padding-bottom: 84px;
}
@media screen and (min-width: 768px) {
  .portfolio__container {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__container {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.portfolio-uptitle {
  margin-bottom: 71px;
  color: var(--color-font-major);
}
@media screen and (min-width: 768px) {
  .portfolio-uptitle {
    margin-bottom: 44px;
  }
}

.portfolio-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}
.portfolio-list__item {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .portfolio-list__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-list__item {
    width: calc((100% - 90px) / 4);
  }
}

.container-wrap {
  background-color: #191c26;
  background-image: url(../images/bg-contacts.png);
  background-repeat: no-repeat;
  background-position-y: 557px;
  background-size: contain;
  padding-top: 84px;
  padding-bottom: 84px;
  background-image: url("../images/contacts/bg-contacts-mob@1.png");
}
@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .container-wrap {
    background-image: url("../images/contacts/bg-contacts-mob@2.png");
  }
}
@media screen and (min-width: 768px) {
  .container-wrap {
    padding-top: 100px;
    padding-bottom: 100px;
    background-position-y: 521px;
    background-image: url("../images/contacts/bg-contacts-tab@1.png");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .container-wrap {
    background-image: url("../images/contacts/bg-contacts-tab@2.png");
  }
}
@media screen and (min-width: 1200px) {
  .container-wrap {
    padding-top: 120px;
    padding-bottom: 120px;
    background-position: right;
    background-size: calc(50% - 15px) 100%;
    background-image: url("../images/contacts/bg-contacts-desk@1.png");
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .container-wrap {
    background-image: url("../images/contacts/bg-contacts-desk@2.png");
  }
}

.booking-contacts__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (min-width: 1200px) {
  .booking-contacts__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.booking {
  min-width: calc(50% + 15px);
  padding-bottom: 84px;
}
@media screen and (min-width: 768px) {
  .booking {
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 1200px) {
  .booking {
    padding-bottom: 0;
  }
}

.booking .booking-title {
  margin-bottom: 44px;
  text-align: center;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: var(--color-font-background-minor);
}
@media screen and (min-width: 768px) {
  .booking .booking-title {
    text-align: left;
  }
}

@media screen and (min-width: 1200px) {
  .container-booking {
    padding-right: 30px;
  }
}

.booking-form__contain {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
.booking-form__input {
  width: 100%;
  height: 24px;
  margin-bottom: 44px;
  padding-bottom: 8px;
  border: none;
  outline: none;
  color: #fff;
  background-color: inherit;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  -webkit-transition: border-color var(--duration) var(--cubic);
  transition: border-color var(--duration) var(--cubic);
}
@media screen and (min-width: 768px) {
  .booking-form__input {
    width: calc((100% - 30px) / 2);
  }
}
.booking-form__input::-webkit-input-placeholder {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  color: rgba(157, 164, 189, 0.4);
  letter-spacing: 0.1em;
  text-transform: uppercase;
  -webkit-transition: color var(--duration) var(--cubic);
  transition: color var(--duration) var(--cubic);
}
.booking-form__input::-moz-placeholder {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  color: rgba(157, 164, 189, 0.4);
  letter-spacing: 0.1em;
  text-transform: uppercase;
  -moz-transition: color var(--duration) var(--cubic);
  transition: color var(--duration) var(--cubic);
}
.booking-form__input:-ms-input-placeholder {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  color: rgba(157, 164, 189, 0.4);
  letter-spacing: 0.1em;
  text-transform: uppercase;
  -ms-transition: color var(--duration) var(--cubic);
  transition: color var(--duration) var(--cubic);
}
.booking-form__input::-ms-input-placeholder {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  color: rgba(157, 164, 189, 0.4);
  letter-spacing: 0.1em;
  text-transform: uppercase;
  -ms-transition: color var(--duration) var(--cubic);
  transition: color var(--duration) var(--cubic);
}
.booking-form__input::placeholder {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  color: rgba(157, 164, 189, 0.4);
  letter-spacing: 0.1em;
  text-transform: uppercase;
  -webkit-transition: color var(--duration) var(--cubic);
  transition: color var(--duration) var(--cubic);
}
.booking-form__input:hover::-webkit-input-placeholder {
  color: #fff;
}
.booking-form__input:hover::-moz-placeholder {
  color: #fff;
}
.booking-form__input:hover:-ms-input-placeholder {
  color: #fff;
}
.booking-form__input:hover::-ms-input-placeholder {
  color: #fff;
}
.booking-form__input:hover::placeholder {
  color: #fff;
}
.booking-form__input:hover {
  border-color: #fff;
}
.booking-form__textarea {
  margin-bottom: 44px;
  width: 100%;
  height: 72px;
  resize: none;
  border: none;
  outline: none;
  color: #fff;
  background-color: inherit;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  -webkit-transition: border-color var(--duration) var(--cubic);
  transition: border-color var(--duration) var(--cubic);
}
.booking-form__textarea::-webkit-input-placeholder {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  color: rgba(157, 164, 189, 0.4);
  letter-spacing: 0.1em;
  text-transform: uppercase;
  -webkit-transition: color var(--duration) var(--cubic);
  transition: color var(--duration) var(--cubic);
}
.booking-form__textarea::-moz-placeholder {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  color: rgba(157, 164, 189, 0.4);
  letter-spacing: 0.1em;
  text-transform: uppercase;
  -moz-transition: color var(--duration) var(--cubic);
  transition: color var(--duration) var(--cubic);
}
.booking-form__textarea:-ms-input-placeholder {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  color: rgba(157, 164, 189, 0.4);
  letter-spacing: 0.1em;
  text-transform: uppercase;
  -ms-transition: color var(--duration) var(--cubic);
  transition: color var(--duration) var(--cubic);
}
.booking-form__textarea::-ms-input-placeholder {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  color: rgba(157, 164, 189, 0.4);
  letter-spacing: 0.1em;
  text-transform: uppercase;
  -ms-transition: color var(--duration) var(--cubic);
  transition: color var(--duration) var(--cubic);
}
.booking-form__textarea::placeholder {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  color: rgba(157, 164, 189, 0.4);
  letter-spacing: 0.1em;
  text-transform: uppercase;
  -webkit-transition: color var(--duration) var(--cubic);
  transition: color var(--duration) var(--cubic);
}
.booking-form__textarea:hover::-webkit-input-placeholder {
  color: #fff;
}
.booking-form__textarea:hover::-moz-placeholder {
  color: #fff;
}
.booking-form__textarea:hover:-ms-input-placeholder {
  color: #fff;
}
.booking-form__textarea:hover::-ms-input-placeholder {
  color: #fff;
}
.booking-form__textarea:hover::placeholder {
  color: #fff;
}
.booking-form__textarea:hover {
  border-color: #fff;
}
.booking-form__button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 160px;
  height: 40px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  text-align: center;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  border-radius: 20px;
  background-color: inherit;
  color: #fff;
  border-color: var(--color-accent);
  -webkit-transition: background-color var(--duration) var(--cubic);
  transition: background-color var(--duration) var(--cubic);
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .booking-form__button {
    margin-left: 0;
    margin-right: 0;
  }
}
.booking-form__button:hover {
  background-color: var(--color-accent);
}

.contacts {
  padding-top: 84px;
}
@media screen and (min-width: 768px) {
  .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 100px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    display: block;
    min-width: calc(50% - 15px);
    padding-left: 101px;
    padding-top: 0;
  }
}

.contacts-title {
  margin-bottom: 40px;
  text-align: center;
  color: var(--color-font-background-minor);
}
@media screen and (min-width: 768px) {
  .contacts-title {
    text-align: left;
  }
}

.address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-style: inherit;
  margin-bottom: 44px;
}
@media screen and (min-width: 1200px) {
  .address {
    margin-bottom: 70px;
  }
}

.address-list__item {
  margin-bottom: 20px;
}
.address-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--color-font-background-major);
  text-decoration: none;
  -webkit-transition: color var(--duration) var(--cubic);
  transition: color var(--duration) var(--cubic);
}
.address-list__link:hover, .address-list__link:focus {
  color: var(--color-accent);
}
.address-list__link-bold {
  font-weight: 700;
}
.address-list__icon {
  margin-right: 16px;
  width: 24px;
  height: 24px;
  fill: transparent;
}
.working-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636;
  text-transform: uppercase;
  color: var(--color-font-background-minor);
}

.working-title::before {
  content: "";
  width: 60px;
  height: 1px;
  background: rgba(157, 164, 189, 0.4);
}

.working-text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--color-font-background-major);
}

.footer__container {
  padding-top: 56px;
  padding-bottom: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
@media screen and (max-width: 767px) {
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding-top: 44px;
    padding-bottom: 44px;
  }
}

.footer-copy {
  margin-right: auto;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--color-font-background-major);
}

.footer-network {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}
@media screen and (max-width: 767px) {
  .footer-network {
    margin-left: auto;
    margin-bottom: 20px;
  }
}
.footer-network::before {
  content: "";
  width: 60px;
  height: 1px;
  background: var(--color-font-major);
}
.footer-network__link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  text-decoration: none;
  cursor: pointer;
  color: var(--color-font-major);
  -webkit-transition: color var(--duration) var(--cubic);
  transition: color var(--duration) var(--cubic);
}
.footer-network__link:hover, .footer-network__link:focus {
  color: var(--color-accent);
}/*# sourceMappingURL=main.css.map */