:root {
  --color-font-major: #303030;
  --color-font-minor: #555555;
  --color-font-background-major: #9da4bd;
  --color-font-background-minor: #ffffff;
  --color-accent: #ff6c00;
  --background-major: #ffffff;
  --background-minor: #f7f7f7;
  --font-ral: "Raleway", sans-serif;
}
body {
  font-family: "Open Sans", sans-serif;
  background-color: var(--background-major);
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
#list-id {
  list-style: decimal;
}

.uptitle {
  display: flex;
  align-items: center;
  gap: 20px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
}
.uptitle::before {
  content: "";
  width: 60px;
  height: 1px;
  background-color: currentColor;
}
.subtitle {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}
.section-title {
  font-family: "Raleway", sans-serif;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;
}
.btn {
  min-width: 160px;
  height: 40px;
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  cursor: pointer;

  border: 1px solid var(--color-accent);
  border-radius: 25px;
  background-color: inherit;
}
.container {
  margin-right: auto;
  margin-left: auto;
  width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 1px solid tomato; */
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*---------------HEDER--------------*/

.header {
}
.header .container {
  position: absolute;
  left: 50%;
  display: flex;
  align-items: center;

  background: transparent;
  transform: translate(-50%);
  z-index: 2;
}
.header .logo {
  margin-right: 131px;
  color: var(--color-font-major);
}
.header .logo:hover,
.header .logo:focus {
  color: var(--color-accent);
}
.logo-icon {
  fill: currentColor;
}
.navigation {
  margin-right: auto;
}
.header .list {
  display: flex;
}
.header .link {
  padding: 10px;
  text-decoration: none;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;

  color: var(--color-font-background-minor);
}
.header .link:hover,
.header .link:focus {
  color: var(--color-accent);
}
.header .contacts-nav {
  display: flex;
  align-items: center;
  background-color: inherit;
}
.header-contact {
  padding: 10px;

  font-weight: 600;
  font-size: 12px;
  line-height: 1.3333;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-decoration: none;

  color: var(--color-font-background-minor);
}
.header-contact:hover,
.header-contact:focus {
  color: var(--color-accent);
}
.header-btn {
  color: var(--color-font-background-minor);
  margin-left: 40px;
}
.header-btn:hover,
.header-btn:focus {
  background-color: var(--color-accent);
}

/*----------------HERO----------*/

.hero {
}

.hero .container {
  position: relative;
  display: flex;
  padding-right: 0;
}
.hero .list {
  position: relative;
  display: flex;
  width: 100px;
}
.befor-link::before {
  display: block;
  content: " ";
  width: 60px;
  height: 1px;
  background-color: var(--color-font-major);
}
.container-link {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  gap: 40px;
  position: absolute;
  bottom: 0;
  left: 20px;

  transform: rotate(-90deg);
  transform-origin: left;
}
.hero-container {
  position: relative;
  padding-top: 272px;
  padding-bottom: 208px;
  padding-left: 100px;

  background-image: url(../images/hero-image.jpg);
  background-repeat: no-repeat;
  flex-grow: 1;
}

.hero .link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;

  color: var(--color-font-major);
  text-decoration: none;
}

.hero .link:hover,
.hero .link:focus {
  color: var(--color-accent);
}

.hero-uptitle {
  margin-bottom: 20px;

  color: rgba(157, 164, 189, 0.6);
}

.hero-title {
  margin-bottom: 20px;

  font-family: var(--font-ral);
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  color: var(--color-font-background-minor);
}

.hero-subtitle {
  max-width: 358px;
  color: var(--color-font-background-major);
}
.list.forward-back {
  position: absolute;
  right: 80px;
  bottom: 40px;
  display: flex;
  gap: 30px;
}
.forward-back__link {
  position: relative;
  display: flex;
  width: 60px;
  height: 24px;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;

  color: rgba(157, 164, 189, 0.6);
  text-decoration: none;
}
.forward-back__link::after {
  position: absolute;
  right: 0;
  bottom: 0;

  content: " ";
  width: 60px;
  height: 1px;
  background-color: rgba(157, 164, 189, 0.6);
}

.forward-back__text {
}
.forward-back__text--text-right {
  margin-left: auto;
  color: #fff;
}
.forward-back__item.forward-back__item--white-line .forward-back__link::after {
  background-color: #fff;
}
/*----------ABOUT-----------------*/

.about {
}
.about .container {
  padding-top: 120px;
  padding-bottom: 120px;
  display: flex;
  gap: 30px;
}
.about .list {
  display: flex;
  gap: 30px;
  flex-shrink: 0;
}
.about-wrap {
  max-width: 470px;
}
.about-uptitle {
  margin-bottom: 20px;

  color: var(--color-font-major);
}
.about-title {
  margin-bottom: 20px;

  color: var(--color-font-major);
}

.about-subtitle {
  margin-bottom: 20px;

  color: var(--color-font-minor);
}

.about-text {
  margin-bottom: 42px;

  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;

  color: var(--color-font-minor);
}

.about-btn {
  color: var(--color-font-major);
}
.about-btn:hover,
.about-btn:focus {
  background-color: var(--color-accent);
}

/*-------------------PRICES--------------*/

.prices {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;

  background-image: linear-gradient(
      rgba(17, 19, 25, 0.2),
      rgba(17, 19, 25, 0.2)
    ),
    url("../images/bg-prices.jpg");
  background-repeat: no-repeat;
}
.prices .container {
  padding-top: 120px;
  padding-bottom: 120px;
}

.prices-uptitle {
  margin-bottom: 20px;

  color: rgba(157, 164, 189, 0.6);
}

.prices-title {
  margin-bottom: 44px;

  color: var(--color-font-background-minor);
}
.prices-wrap {
  display: flex;
  margin-bottom: 44px;
  justify-content: space-between;
}

.prices .list {
  border: 1px solid transparent;
  border-bottom: none;
  padding: 30px 20px;
  width: calc((100% - 30px) / 2);
}
.prices .list:first-child {
  background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
}
.prices .list:last-child {
  background: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
}
.prices .item {
  display: flex;
  align-items: baseline;
  margin-bottom: 20px;
  gap: 12px;
}
.prices .item::before {
  content: "";
  height: 1px;
  background-color: rgba(157, 164, 189, 0.12);
  flex-grow: 1;
}
.prices .item:last-child {
  margin-bottom: 0;
}
.prices .text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--color-font-background-major);
}
.prices .text:first-child {
  order: -1;
}

.prices-btn {
  display: block;
  margin: auto;
  color: var(--color-font-background-minor);
}
.prices-btn:hover,
.prices-btn:focus {
  background-color: var(--color-accent);
}

/*---------------BENEFITS-----------------*/
.benefits {
}
.benefits .container {
  padding-top: 120px;
  padding-bottom: 120px;
  display: flex;
  justify-content: space-between;
}
.benefits .list {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin-left: 100px;
  max-width: 370px;
}
.benefits .item:nth-child(2n) {
  margin-top: 30px;
}
.benefits .item:nth-child(2n + 1) {
  margin-right: 30px;
}
.benefits .item {
  padding: 20px 24px;
  width: 170px;
  height: 133px;
  background-color: var(--background-minor);
}
.benefits-count {
  display: flex;
  justify-content: center;
  margin-bottom: 6px;

  font-weight: 700;
  font-size: 42px;
  line-height: calc(57 / 42);
  align-items: center;
  letter-spacing: 0.05em;
  color: var(--color-font-major);
}

.benefits-plus {
  font-weight: 600;
  font-size: 16px;
  line-height: calc(22 / 16);
  align-items: center;
  color: var(--color-accent);
}
.benefits .text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636;
  text-align: center;
  color: var(--color-font-major);
}
.benefits-wrap {
  margin-right: 70px;
  max-width: 500px;
}
.benefit-uptitle {
  margin-bottom: 20px;

  color: var(--color-font-major);
}
.benefits-title {
  margin-bottom: 20px;

  color: var(--color-font-major);
}

.benefits-subtitle {
  color: var(--color-font-minor);
}

/*----------------BARBERS--------------*/

.barbers {
  background-color: var(--background-minor);
}
.barbers .container {
  padding-top: 120px;
  padding-bottom: 120px;
}
.barbers-uptitle {
  margin-bottom: 20px;

  color: var(--color-font-major);
}
.barbers-title {
  margin-bottom: 44px;

  color: var(--color-font-major);
}
.barbers .list {
  display: flex;
  gap: 30px;
}
.barbers-item {
  width: calc((100% - 60px) / 3);
}
.barbers .item-title {
  margin-bottom: 8px;
  margin-top: 30px;

  font-weight: 400;
  font-size: 18px;
  line-height: calc(25 / 18);
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--color-font-major);
}

.barbers .item-text {
  margin-bottom: 30px;

  font-size: 14px;
  line-height: calc(19 / 14);
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--color-accent);
}
.barbers .soc-list {
  display: flex;
  gap: 10px;
  justify-content: center;
}
.link-network {
}
.link-network {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--background-major);
}
.network-icon {
  fill: var(--color-font-major);
}
.link-network:hover .network-icon,
.link-network:focus .network-icon {
  fill: var(--color-accent);
}
/*-------------------------PORTFOLIO--------------*/

.portfolio {
}
.portfolio .container {
  padding-top: 120px;
  padding-bottom: 120px;
}
.portfolio-uptitle {
  margin-bottom: 44px;

  color: var(--color-font-major);
}
.portfolio .list {
  display: flex;
  gap: 30px;
}
.portfolio-item {
  width: calc((100% - 90px) / 4);
}

/* ------------------BOOKING------------------- */
.container-wrap {
  background-color: #191c26;
  background-image: url(../images/bg-contacts.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: calc(50% - 15px) 100%;
  padding-top: 139px;
  padding-bottom: 124px;
}
.container-wrap .container {
  display: flex;
}
.booking {
  min-width: calc(50% + 15px);
}
.booking .booking-title {
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;

  color: var(--color-font-background-minor);
}

/*------------------CONTACTS----------------------*/

.contacts {
  min-width: calc(50% - 15px);
  padding-left: 101px;
}
.contacts .container {
  padding-top: 130px;
  padding-bottom: 120px;
}
.contscts-title {
  margin-bottom: 40px;

  color: var(--color-font-background-minor);
}

.contacts-address {
  display: flex;
  font-style: inherit;
  margin-bottom: 70px;
}
.contacts .item {
  margin-bottom: 20px;
}
.contacts-link {
  display: flex;
  align-items: center;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--color-font-background-major);
  text-decoration: none;
}
.contacts-link:hover,
.contacts-link:focus {
  color: var(--color-accent);
}

.contacts-link-bold {
  font-weight: 700;
}
.contacts .icon {
  margin-right: 16px;
  width: 24px;
  height: 24px;
  fill: currentColor;
}
.contacts-link:hover .icon {
}

.working-title {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 20px;

  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636;
  text-transform: uppercase;
  color: var(--color-font-background-minor);
}
.working-title::before {
  content: "";
  width: 60px;
  height: 1px;
  background: rgba(157, 164, 189, 0.4);
}

.working-text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--color-font-background-major);
}
/* -------------------FOOTER--------------- */
.footer {
}
.footer .container {
  padding-top: 56px;
  padding-bottom: 56px;
  display: flex;
  align-items: baseline;
}
.footer .copy {
  margin-right: auto;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;

  color: var(--color-font-background-major);
}
.footer .list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.footer .list::before {
  content: "";
  width: 60px;
  height: 1px;
  background: var(--color-font-major);
}

.footer .link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  text-decoration: none;
  cursor: pointer;

  color: var(--color-font-major);
}

footer .link:hover,
.footer .link:focus {
  color: var(--color-accent);
}
