:root {
  --color-font-major: #303030;
  --color-font-minor: #555555;
  --color-font-background-major: #9da4bd;
  --color-font-background-minor: #ffffff;
  --color-accent: #ff6c00;
  --background-major: #ffffff;
  --background-minor: #f7f7f7;
  --font-ral: "Raleway", sans-serif;
  --duration: 250ms;
  --cubic: cubic-bezier(0.17, 0.67, 0.83, 0.67);
}