.about {
}
.about__container {
  display: flex;
  gap: 30px;

  padding-top: 84px;
  padding-bottom: 84px;
  @media screen and (min-width: 768px) {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}
.beards-photo {
  display: flex;
  gap: 30px;
  flex-shrink: 0;

  &__item {
  }
  @media screen and (max-width: 768px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    flex-direction: column;

    &_item {
      width: 330px;
      height: 235px;
    }
  }
  @media screen and (min-width: 1200px) {
    flex-direction: row;

    &__item {
      width: 270px;
      height: 445px;
    }
  }
}
.beards-photo img {
  height: auto;
}
.about-wrap {
  // max-width: 470px;
  max-width: 100%;
  @media screen and (min-width: 768px) {
    max-width: 330px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 470px;
  }
}
.about-uptitle {
  margin-bottom: 20px;

  color: var(--color-font-major);
}
.about-title {
  margin-bottom: 20px;
  width: 306px;

  font-size: 28px;
  line-height: 1.18;

  color: var(--color-font-major);

  @media screen and (min-width: 1200px) {
    font-size: 42px;
    line-height: 1.16;
    width: 470px;
  }
}

.about-subtitle {
  margin-bottom: 20px;

  font-size: 16px;
  line-height: 1.62;

  color: var(--color-font-minor);

  @media screen and (min-width: 768px) {
    font-size: 18px;
    line-height: 1.67;
  }
}

.about-text {
  margin-bottom: 42px;

  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;

  color: var(--color-font-minor);
}

.about-btn {
  color: var(--color-font-major);
  transition: background-color var(--duration) var(--cubic);
}
.about-btn:hover,
.about-btn:focus {
  background-color: var(--color-accent);
}
