.benefits {
}
.benefits__container {
  padding-top: 120px;
  padding-bottom: 120px;
  display: flex;
  justify-content: space-between;
}
.benefits-list {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin-left: 100px;
}
.benefits-list__item:nth-child(2n) {
  margin-top: 30px;
}
.benefits-list__item:nth-child(2n + 1) {
  margin-right: 30px;
}
.benefits-list__item {
  padding: 20px 24px;
  width: 170px;
  height: 133px;
  background-color: var(--background-minor);
}
.benefits-list__count {
  display: flex;
  justify-content: center;
  margin-bottom: 6px;

  font-weight: 700;
  font-size: 42px;
  line-height: calc(57 / 42);
  align-items: center;
  letter-spacing: 0.05em;
  color: var(--color-font-major);
}

.benefits-list__plus {
  font-weight: 600;
  font-size: 16px;
  line-height: calc(22 / 16);
  align-items: center;
  color: var(--color-accent);
}
.benefits-list__text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.3636;
  text-align: center;
  color: var(--color-font-major);
}
.benefits-wrap {
  margin-right: 70px;
  max-width: 500px;
}
.benefit-uptitle {
  margin-bottom: 20px;

  color: var(--color-font-major);
}
.benefits-title {
  margin-bottom: 20px;

  color: var(--color-font-major);
}

.benefits-subtitle {
  color: var(--color-font-minor);
}
