.footer {
}
.footer__container {
  padding-top: 56px;
  padding-bottom: 56px;
  display: flex;
  align-items: baseline;
  @media screen and (max-width: 767px) {
    flex-direction: column-reverse;
    padding-top: 44px;
    padding-bottom: 44px;
  }
}
.footer-copy {
  margin-right: auto;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;

  color: var(--color-font-background-major);
}
.footer-network {
  display: flex;
  align-items: center;
  gap: 40px;
  @media screen and (max-width: 767px) {
    margin-left: auto;
    margin-bottom: 20px;
  }

  &::before {
    content: "";
    width: 60px;
    height: 1px;
    background: var(--color-font-major);
  }

  &__link {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.2em;
    text-decoration: none;
    cursor: pointer;

    color: var(--color-font-major);
    transition: color var(--duration) var(--cubic);
  }

  &__link:hover,
  &__link:focus {
    color: var(--color-accent);
  }
}
