.footer {
}
.footer__container {
  padding-top: 56px;
  padding-bottom: 56px;
  display: flex;
  align-items: baseline;
}
.footer-copy {
  margin-right: auto;
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;

  color: var(--color-font-background-major);
}
.footer-network {
  display: flex;
  align-items: center;
  gap: 40px;
}
.footer-network::before {
  content: "";
  width: 60px;
  height: 1px;
  background: var(--color-font-major);
}

.footer-network__link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  text-decoration: none;
  cursor: pointer;

  color: var(--color-font-major);
  transition: color var(--duration) var(--cubic);
}

.footer-network__link:hover,
.footer-network__link:focus {
  color: var(--color-accent);
}
