.header {
}
.header__container {
  position: absolute;
  left: 50%;
  display: flex;
  align-items: center;

  background: transparent;
  transform: translate(-50%);
  z-index: 2;
}
.logo {
  color: var(--color-font-major);
  transition: color var(--duration) var(--cubic);
}

.logo:hover,
.logo:focus {
  color: var(--color-accent);
}
.logo {
  margin-right: 131px;
}
.logo__icon {
  fill: currentColor;
}
.navigation {
  margin-right: auto;
}
.navigation__list {
  display: flex;
}
.navigation__link {
  padding: 10px;
  text-decoration: none;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;

  color: var(--color-font-background-minor);
  transition: color var(--duration) var(--cubic);
}
.navigation__link:hover,
.navigation__link:focus {
  color: var(--color-accent);
}
.contacts-nav {
  display: flex;
  align-items: center;
  background-color: inherit;
}
.contacts-nav__link {
  padding: 10px;

  font-weight: 600;
  font-size: 12px;
  line-height: 1.3333;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-decoration: none;

  color: var(--color-font-background-minor);
  transition: color var(--duration) var(--cubic);
}
.contacts-nav__link:hover,
.contacts-nav__link:focus {
  color: var(--color-accent);
}
.contacts-nav__btn {
  margin-left: 40px;

  color: var(--color-font-background-minor);
  transition: background-color var(--duration) var(--cubic);
}
.contacts-nav__btn:hover,
.contacts-nav__btn:focus {
  background-color: var(--color-accent);
}
