.hero {
}

.hero__container {
  position: relative;
  display: flex;
  padding-right: 0;

  @media screen and (max-width: 767px) {
    padding-left: 0;
  }
}
.hero-network {
  position: relative;
  display: flex;
  width: 100px;

  @media screen and (max-width: 767px) {
    display: none;
  }

  &__befor-link::before {
    display: block;
    content: " ";
    width: 60px;
    height: 1px;
    background-color: var(--color-font-major);
  }
  &__contain {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    gap: 40px;
    position: absolute;
    bottom: 0;
    left: 20px;

    transform: rotate(-90deg);
    transform-origin: left;
  }

  &__link {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.2em;
    text-decoration: none;

    color: var(--color-font-major);

    transition: color var(--duration) var(--cubic);
  }

  &__link:hover,
  &__link:focus {
    color: var(--color-accent);
  }
}

.hero-container {
  position: relative;
  padding-top: 208px;
  padding-bottom: 208px;
  padding-left: 31px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  flex-grow: 1;

  @media screen and (max-width: 767px) {
    @include retina {
      background-image: url("../images/bg-hero-mob@2.jpg");
    }
    background-image: url("../images/bg-hero-mob@1.jpg");
  }

  @media screen and (min-width: 768px) {
    padding-top: 272px;
    padding-bottom: 237px;
    padding-left: 120px;

    @include retina {
      background-image: url("../images/bg-hero-tab@2.jpg");
    }
    background-image: url("../images/bg-hero-tab@1.jpg");
  }
  @media screen and (min-width: 1200px) {
    padding-top: 272px;
    padding-bottom: 208px;
    padding-left: 100px;

    @include retina {
      background-image: url("../images/bg-hero-desk@2.jpg");
    }
    background-image: url("../images/bg-hero-desk@1.jpg");
  }
}
.hero-uptitle {
  margin-bottom: 20px;

  color: rgba(157, 164, 189, 0.6);
}

.hero-title {
  margin-bottom: 20px;

  font-family: var(--font-ral);
  font-size: 48px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: var(--color-font-background-minor);

  @media screen and (min-width: 1200px) {
    font-size: 72px;
    line-height: 1.18;
  }
}

.hero-subtitle {
  max-width: 358px;
  color: var(--color-font-background-major);
  font-size: 16px;
  line-height: 1.63;

  @media screen and (min-width: 768px) {
    font-size: 18px;
    line-height: 1.67;
  }
}
.forward-back {
  position: absolute;
  right: 80px;
  bottom: 40px;
  display: flex;
  gap: 30px;

  @media screen and (max-width: 767px) {
    display: none;
  }

  &__link {
    position: relative;
    display: flex;
    width: 60px;
    height: 24px;
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;

    color: rgba(157, 164, 189, 0.6);
    text-decoration: none;
  }
  &__link::after {
    position: absolute;
    right: 0;
    bottom: 0;

    content: " ";
    width: 60px;
    height: 1px;
    background-color: rgba(157, 164, 189, 0.6);
  }

  &__text {
  }
  &__text--text-right {
    margin-left: auto;
    color: #fff;
  }
  &__item.forward-back__item--white-line &__link::after {
    background-color: #fff;
  }
}
