.prices {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;

  background-image: linear-gradient(
      rgba(17, 19, 25, 0.2),
      rgba(17, 19, 25, 0.2)
    ),
    url("../images/bg-prices.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.prices__container {
  padding-top: 120px;
  padding-bottom: 120px;
}

.prices-uptitle {
  margin-bottom: 20px;

  color: rgba(157, 164, 189, 0.6);
}

.prices-title {
  margin-bottom: 44px;

  color: var(--color-font-background-minor);
}
.prices-wrap {
  display: flex;
  margin-bottom: 44px;
  justify-content: space-between;
}

.prices-list {
  border: 1px solid transparent;
  border-bottom: none;
  padding: 30px 20px;
  width: calc((100% - 30px) / 2);
}
.prices-list:first-child {
  background: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
}
.prices-list:last-child {
  background: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
}
.prices-list__item {
  display: flex;
  align-items: baseline;
  margin-bottom: 20px;
  gap: 12px;
}
.prices-list__item::before {
  content: "";
  height: 1px;
  background-color: rgba(157, 164, 189, 0.12);
  flex-grow: 1;
}
.prices-list__item:last-child {
  margin-bottom: 0;
}
.prices-list__text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--color-font-background-major);
}
.prices-list__text:first-child {
  order: -1;
}

.prices-list__btn {
  display: block;
  margin: auto;
  color: var(--color-font-background-minor);
  transition: background-color var(--duration) var(--cubic);
}
.prices-list__btn:hover,
.prices-list__btn:focus {
  background-color: var(--color-accent);
}
